<content-type name="/component/subcategory" is-wcm-type="true">
	<label>Item: Sub Category</label>
	<form>/component/subcategory</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>false</content-as-folder>
	<previewable>false</previewable>
	<quickCreate>false</quickCreate>
	<quickCreatePath></quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
	<paths>
		<includes>
			<pattern>^/site/components/sub_categories/.*</pattern>
		</includes>
	</paths>
	   <endpoints>
        <endpoint>
            <url-pattern>/api/1/site/custom/subcategories</url-pattern>
            <script>/site/components/sub_categories/controller.groovy</script>
        </endpoint>
    </endpoints>
</content-type>
